@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*
FONT SIZE PX TO REM
PX 	REM
60-	3
50-	2.5
40- 2
24- 1.2
20-	1
17- 0.85	
15- 0.75
13- 0.65
*/

html {
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	color: #292E47;
}

body {
	background: #F4F6FC;
}

body, h1, h2, h3, h4, p, a, ul{
	margin: 0;
	padding: 0;
	border: 0;
}

header{
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	justify-content: space-between;
	box-sizing: border-box;
	height: 6rem;
	width: 76.38%;
	margin:auto;
}

a {
	text-decoration: none;
	/* color: #6B708D; */
}

header nav a{
	margin: 0 1.5rem;
}

.current{
	color: #072AC8;
}

.blueButton{
  background-color: #072AC8;
  color: white;
  padding: 0.75rem 1.8rem;
  /*height: 52px;
  box-sizing: border-box; */
}

h1, h2, h3, h4 {
	font-weight: 700;
}

h1{
	font-size: 3rem;
}
h2{
	font-size: 2.5rem;
}
h3{
	font-size: 2rem;
}
h4{
	font-size: 1.2rem;
}

.bodyMedium, .headlineMedium {
	font-weight: 500;
}

.bodyRegular, .headlineRegular, .caption1, .caption2{
	font-weight: 400;
} 

.bodyMedium{
	font-size: 1.2rem;
}
.bodyRegular{
	font-size: 1rem;
	color: #6B708D;
	line-height: 1.5rem;
}
.headlineMedium{
	font-size: 0.85rem;
	color: #6B708D;
}
.headlineRegular{
	font-size: 0.85rem;
}
.caption1{
	font-size: 0.75rem;
}
.caption2{
	font-size: 0.65rem;
}
.landing{
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
  margin: 0 11.8%;

}
.bgImg{
	background-image: url('hero-section/hero-image.png');
  background-repeat: no-repeat;
  background-size: contain;
  /*position: relative;*/
}
.landingItem{
  width:50%;
}
 
/*
	max-width: 570px;
	background-position: 0 0;
  background-size: cover;
  
  height: 650px;
  padding-top: 50px;
  */

.float1{
	max-width: 10%;
  /*position: absolute;
  left: 10%;
  bottom: 100px;*/
}

.clientsGrid{
	display: grid;
	row-gap: 2rem;
	column-gap:  4rem;
	grid-template-columns: repeat( auto-fit, minmax(6rem, 1fr));
	align-items: center;
	justify-items: center;
	filter: grayscale(100%);
}

.container{
	box-sizing: border-box;
	margin: auto;	
	width: 91.666%;
	padding: 0 7.4%;
}

.boxContainer{
	display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /*justify-content: space-evenly;
  cuando la ventava sea peque cambio a este o center...
   flex-flow: row wrap;
   */
}

.box{
	max-width: 17rem;
	min-height: 19rem;
	box-sizing: border-box;
  box-shadow: 0 39px 78px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.projectImg {
  width: 17rem;
  height: 12rem;
}

.boxPadding{
	padding: 1.5rem;
}

.round-div 
{
	background-color: #ECF7FF;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

.box p{
	padding: 0.5rem 0;
}

.box a{
	display: block;
	padding-top: 1.5rem;
	text-decoration: none;
	/*color: #072AC8;*/
}
/*
.boxPadding .headlineRegular{
	color: #6B708D;
}
*/

.darkBg{
	background: #292E47;
	padding: 0;
}

.darkBg h3{
	color: white;
}

.darkBg .bodyMedium{
	color: #FFC600;
}

.orbit{
  background-image: url("testimonial-section/orbit2.png"); 
	height: 31rem;
	background-repeat: no-repeat;
	background-position: center;
 	background-size: cover;
/*
 margin: auto;
 background-position:center; fallback 
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  position: relative;
  background-repeat: no-repeat;
	 background-position: center;
  */
}

.testimonials{
	z-index:2;
	position:relative;
	top: -31rem;

}
.yellowBg{
	background: #FFC600;
}

.projectBigImg{
	object-fit: cover;
	width: 100%;

}

/* FORM */

form{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch; 
  margin-left: -2rem;
 /* margin-top: -1.5rem;
 padding-left: -2rem;
  */
}

.twoColumns{
	box-sizing: border-box;
	width: 50%;
	padding-left: 2rem;
}

.oneColumn{
	width: 100%;
	padding-left: 2rem;
}
	
label {
	display: block;
	margin: 2rem 0 0.5rem 0;
}
	
input[type="text"],
input[type="email"],
textarea {
	display: block;
	box-sizing: border-box;
	border: none;
	background: rgba(107, 112, 141, 0.1);
	font-family: "Roboto", sans-serif;
		font-weight: 400;
	line-height: 1.4rem;
	font-size: 0.85rem;
	color: #6B708D;
	padding: 1rem;
	width: 100%;
}

#phone, #email{
width: 100%;
}

::placeholder { 
 	color: #6B708D;
}

input[type="submit"]{
		border: none;
		background: #072AC8;
	/*	display: inline-block;
		text-decoration: none;*/
		text-align: center;
		font-family: "Roboto", sans-serif;
		font-weight: 500;
		font-size: 0.85rem;
		color: white;
		width: 100%;
		height: 4rem;
		margin-top: 2rem;
		padding: 0;
}



footer{
	display: flex;
	align-items: center;
	flex-flow: row wrap-reverse; 
	justify-content: space-between;
	box-sizing: border-box;
	height: 5.6rem;
	width: 76.38%;
	margin:  8.5rem auto 5rem auto;
	color: #6B708D;
}

footer nav{
  display: grid;
  grid-template-columns: auto auto auto;
  height: 5.6rem;
  grid-gap: 3rem 6.25rem;
}

footer nav a{
	color: #6B708D;
}

footer img{
	padding-bottom: 0.75rem	;
}

footer p{
	line-height: 1.2rem;
}


/* Desktop & bigger ones */
@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1200px) {
	header nav a{
		margin: 0 1rem;
	}
	footer{
		margin:  6rem auto 5rem auto;
	}
}


/* Tablet laptop */ 
@media screen and (max-width: 980px) {
	header{
		width: 80%;	
		height: 5rem;
	}

	header nav a{
		margin: 0 0.75rem; 
	}

	footer{
		width: 80%;
		margin:  5rem auto 4rem auto;
		justify-content: center;
		height: auto;
	}

	footer div{
  	margin: 3rem auto 0 auto;
	}
	footer img{
		padding: 0 2rem 0 0;
	}
	footer p{
		display: inline;
	}
	#contact{
		padding: 0.6rem 1rem;
	}
 }

 /* Landscape */
@media screen and (max-width: 760px) {
	header{
		width: 85%;	
		height: 4rem;
	}
	
	header nav a{
		margin: 0 0.5rem;
	}

	footer{
		width: 85%;
	}
	
	footer nav{
		grid-gap: 3rem 5rem;
	}

	footer img{
		padding: 0 0 1rem 0;
	}
	footer p{
		display: block;
		line-height: 2rem;
	}

	.landing{
		flex-direction: column-reverse;
	}

	#contact{
		display: none;
	}

	.twoColumns{
		width: 100%;
	}
}

/* Mobile */
@media screen and (max-width: 520px) {
	header{
		height: 3rem;
	}
	
	header nav a{
		margin: 0 0.25rem;
	}

	footer{
		margin:  4rem auto 2rem auto;
	}
	
	footer nav{
		height: auto;
		grid-gap: 2rem 3.5rem;
	}
}

/*
a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

*/